.Btn {
  font-family: "Poppins-bold";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  cursor: pointer;
  border-radius: 3.75rem;
  padding: 1rem 1.3125rem 0.875rem;
}

.BtnTransparent {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--bright-primary);
}

.BtnBlue {
  background-color: var(--color-blue);
  color: var(--color-white);
  outline: none;
  border: 1px solid var(--color-blue);
}

.BtnFilter {
  padding: 0.25rem 0.5rem;
  background: #121218;
  border: 1px solid #121218;
  border-radius: 1.43rem;
  font-family: "Poppins-regular";
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.3);
  text-transform: capitalize;
}

.BtnActive,
.BtnHideFilters {
  border: 1px solid white;
  color: var(--color-white);
  opacity: 1;
}

.BtnActivePink {
  border: 1px solid var(--white);
  color: var(--white);
  opacity: 1;
}

.BtnHideFilters {
  background-color: transparent;
  color: #f7f6f6;
  padding: 1rem 2rem 0.875rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
