.Card {
  border-radius: 1rem;
  backdrop-filter: blur(1.5px);
  background: #121218;
  width: 100%;
}

.CardVideoWrapper {
  border-radius: 1rem;
  overflow: hidden;
}

.CardVideoWrapper {
  width: 100%;
  height: 15rem;
}

.CardInfoWrapper {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.CardVideoWrapper video {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.Card p {
  color: red;
}

.CardInfoWrapper > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.CardInfoWrapper > div span:nth-of-type(1),
.CardInfoWrapper > div span:nth-of-type(2) {
  font-size: 0.875rem;
  line-height: 1rem;
}

.CardInfoWrapper > div span:nth-of-type(1) {
  font-family: "Poppins-regular";
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.CardInfoWrapper > div:last-of-type {
  margin-bottom: 0;
}

.CardInfoWrapper > div:nth-of-type(1) span:nth-of-type(2),
.CardInfoWrapper > div:nth-of-type(2) span:nth-of-type(2),
.CardInfoWrapper > div:nth-of-type(3) span:nth-of-type(2),
.CardInfoWrapper > div:nth-of-type(4) span:nth-of-type(2) {
  font-family: "Poppins-bold";
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.CardInfoWrapper > div:nth-of-type(1) span:nth-of-type(2) {
  text-transform: uppercase;
  color: var(--color-blue);
}

.CardInfoWrapper > div:nth-of-type(2) span:nth-of-type(2),
.CardInfoWrapper > div:nth-of-type(3) span:nth-of-type(2),
.CardInfoWrapper > div:nth-of-type(4) span:nth-of-type(2) {
  color: var(--color-white);
  text-transform: lowercase;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .CardVideoWrapper {
    height: auto;
  }
  .CardVideoWrapper video {
    height: auto;
  }
}
