.LinkBlue,
.LinkTransparent {
  font-family: "Poppins-bold";
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 3.75rem;
}

.LinkBlue {
  background-color: var(--color-blue);
  color: var(--color-white);
  width: max-content;
}

.LinkTransparent {
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: max-content;
}

.LinkBlue a,
.LinkTransparent a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem 0.875rem;
  line-height: 1rem;
}

@media screen and (max-width: 767px) {
  .LinkBlue a,
  .LinkTransparent a {
    padding: 8px 16px;
    line-height: 1rem;
  }
}
