.StatsWrapper {
  padding: 0rem 3.88em 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.Stats > p {
  color: var(--color-white);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  max-width: 27rem;
}

.Stats {
  grid-column: 1/5;
}

.Chart {
  grid-column: 7/-1;
}

@media screen and (max-width: 1439px) {
  .Chart {
    grid-column: 6/-1;
    margin-left: 4.2rem;
  }
}

@media screen and (max-width: 991px) {
  .Stats {
    grid-column: 1/13;
  }
  .Chart {
    grid-column: 1/13;
    margin-left: 0;
  }
  .StatsWrapper {
    row-gap: 140px;
  }
}
@media screen and (max-width: 767px) {
  .StatsWrapper {
    row-gap: 80px;
  }
  .Chart svg {
    width: 100%;
    height: auto;
  }
}
