.Header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.88em;
  font-family: "Poppins-bold";
  position: absolute;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
}

.LogoWrapper {
  margin-right: 2.5rem;
}

.HeaderCol {
  display: flex;
  align-items: center;
}

.HeaderCol nav {
  color: var(--bright-primary);
}

.HeaderCol nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
}

.HeaderCol nav ul a,
.HeaderCol nav ul span {
  margin-right: 1.5rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.HeaderCol nav ul svg {
  margin-left: 0.3125rem;
  transform: translateY(0.03rem);
}

.HeaderCol nav ul a:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .Header > div {
    padding: 1.5rem 5vw;
  }
}

@media screen and (max-width: 767px) {
  .HeaderCol nav ul {
    display: none;
  }
}
