.CategoriesWrapper {
  padding: 6.25rem 3.88em 10rem;
  display: flex;
  position: relative;
}

.FiltersWrapper {
  position: sticky;
  top: 4rem;
  bottom: 8rem;
  height: 21.5rem;
}

.FiltersWrapper > div:not(:last-of-type) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  max-width: 13rem;
  margin-bottom: 2.5rem;
}

.FiltersWrapper > div p,
.FiltersWrapper > div span {
  font-family: "Poppins-bold";
  font-weight: 700;
  color: var(--color-white);
}

.Paragraph:nth-of-type(1) {
  font-family: "Poppins-regular";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

/* .FiltersWrapper > div svg {
  transform: translateY(0.05rem);
} */

.Paragraph,
.FilterList {
  font-family: "Voyager-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.Paragraph {
  margin: 1.5rem 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 140%;
  max-width: 13rem;
}

.FilterList {
  font-family: "Poppins-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0;
  letter-spacing: -0.04em;
  list-style: none;
}

.FilterList li {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.FilterList li:hover,
.ActiveCategory {
  color: var(--color-white) !important;
  opacity: 1 !important;
}

.FilterList li:hover span,
.ActiveCategory span {
  border: 1px solid rgba(255, 255, 255, 1) !important;
  background-color: var(--color-white);
}

.ActiveCategory span {
  background-color: var(--color-white);
}

.FilterList li:last-of-type {
  margin-bottom: 0;
}

.FilterList span {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media screen and (max-width: 991px) {
  .CategoriesWrapper {
    padding: 5rem 5vw 9rem;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .CategoriesWrapper {
    padding: 48px 5vw 10rem;
    flex-direction: column;
    position: relative;
  }
  .FiltersWrapper {
    position: static;
    height: auto;
  }
  .FiltersWrapper div a {
    position: absolute;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 3.75rem;
    bottom: 80px;
  }

  .FiltersWrapper > div:not(:last-of-type) {
    width: 100%;
    max-width: none;
  }
}
