.Collection {
  padding: 0 3.88em 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Collection > div:nth-of-type(1) {
  grid-column: 2/12;
}

.Collection > div h2 {
  margin-bottom: 5rem;
}
@media screen and (max-width: 991px) {
  .Collection {
    padding: 0 5vw 5rem;
  }
  .Collection > div:nth-of-type(1) {
    grid-column: 1/12;
  }
}

@media screen and (max-width: 768px) {
  .Collection > div h2 {
    margin-bottom: 64px;
  }
}
